#compass {
    position: absolute;
    margin: 570px 12%;
    z-index: 1000;
}

#compass > img {
    height: 150px;
    opacity: 0.6;
}

#mapform {
    width: 80%;
    margin: 0 auto;
}

#map {
    height: 750px;
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;
    border: var(--black) solid 5px;
    background-color: #25378a;
}

#new-marker {
    display: flex;
    flex-direction: row;
    align-items: self-start;
    gap: 5px;
}

.leaflet-container:hover {
    cursor: crosshair;
}

.leaflet-popup-content {
    text-align: justify;
    white-space: pre-wrap;
    color: var(--dark);
}

.leaflet-popup-content h2 {
    margin: 0;
    color: var(--black);
    font-family: "cursive";
    font-size: 25px;
}

.leaflet-popup-content hr {
    width: 100%;
    margin: 0 0 10px;
    color: var(--accent);
}