{% extends "base.html" %}

{% block content %}
<form method="post">
    {% if pc.linkedGame %}
    Linked to game: {{pc.linkedGame.name}} <button value = "unlinkGame" name = "button">unlink game</button>
    {% else %}
    <input type="text" name="linkGame" placeholder="paste game id">
    <button value = "linkGame" name = "button">link game</button>
    {% endif %}
    
    <button value="edit-mode" name="button">edit sheet</button>
    <button name="button">save</button>
    <button name="button" value="index">homepage</button>
</form>

<script defer src="/js/sheet.js"></script>
{% endblock %}