{% extends "base.html" %}
{% block content %}
<form method="post">
    <button type="button" id="new-sheet">New sheet</button>
    <input type="text" id="sheet-name" name="sheet-name" class = "hidden" placeholder="enter name">
    <button type="button" id="back" class="hidden">Back</button>
    <button value="load-sheet" name="redirect-to">Load sheet</button>
    <select name="sheets">
        {% for PC in PCs %}
        <option value={{PC}}>{{PC}}</option>
        {% endfor %}
    </select>
    <button value="map" name="redirect-to">Map</button>
    <button value="item" name="redirect-to">Item manager</button>
</form>
<script defer src="/js/index.js"></script>
{% endblock %}